@font-face {
    font-family: "Inter";
    src: url("./static/Inter-Bold.ttf") format("TrueType");
    font-size: 700;
}

@font-face {
    font-family: "Inter";
    src: url("./static/Inter-SemiBold.ttf") format("TrueType");
    font-size: 600;
}

@font-face {
    font-family: "Inter";
    src: url("./static/Inter-Medium.ttf") format("TrueType");
    font-size: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    font-size: 0;
    background: var(--bg-3, #fafbfc);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header - section */
header {
    padding: 20px 100px;
}
header img {
    width: 182px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

nav {
    width: calc(100% - 182px);
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

li {
    display: inline-block;
}

li:not(:last-child) {
    margin-right: 50px;
}

li a {
    color: var(--text-3, #8a94a6);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}

button {
    /* width: calc(((179 * 100) / 1440) * 1%); */
    /* height: calc((57 * 100) * 1%); */
    border-radius: 10px;
    padding: 16px 33px;
    background: var(--primary-1, #377dff);
    color: var(--text-5, #fff);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

/* Hero section */

#hero-section {
    padding: 108px 100px;
}
#hero-section h1 {
    margin-top: 108px;
    margin-bottom: 35px;
    text-align: center;
    color: var(--text-1, #323b4b);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
}

.hero-text {
    text-align: center;
    color: var(--text-3, #8a94a6);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 57px;
}

.box {
    width: calc((100% - 64px) / 3);
    border-radius: 15px;
    background: var(--bg-4, #fff);
    display: inline-block;
    padding: 41px 31px;
}

.box-1,
.box-2 {
    margin-right: 32px;
}

.box img {
    margin-bottom: 36px;
}
.box h2 {
    color: var(--text-1, #323b4b);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 16px;
}
.box p {
    color: var(--text-3, #8a94a6);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: start;
    margin-bottom: 16px;
}

.box a {
    color: var(--primary-1, #377dff);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

/* Form Section */

#form-section {
    padding: 120px 0;
}
.form-header {
    margin-bottom: 28px;
    color: var(--text-1, #323b4b);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

.form-p {
    color: var(--text-3, #8a94a6);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    margin-bottom: 52px;
}
.form-inputs_wrapper {
    text-align: center;
    position: relative;
}

.form-input {
    /* width: 391px;
    height: 65px; */
    border-radius: 10px;
    border: 2px solid lightgray;
    background: var(--bg-4, #fff);
    padding: 22px 25px;
    color: var(--text-4, #b0b7c3);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.form-input-1,
.form-input-3 {
    margin-right: 33px;
    margin-bottom: 43px;
}

textarea {
    border-radius: 10px;
    border: 2px solid lightgray;
    background: var(--bg-4, #fff);
    color: var(--text-4, #b0b7c3);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 24px;
    margin-bottom: 43px;
}

.form-checkbox_wrapper {
    text-align: center;
}

.checkbox {
    width: 34px;
    height: 33px;
    background-color: var(--secondary-1, #e5f1ff);
    display: inline-block;
    margin-right: 24px;
    vertical-align: middle;
}

label {
    color: var(--text-3, #8a94a6);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
}

#form-section button {
    margin-left: 146px;
}

/* Footer */

footer {
    padding: 142px 100px;
}

.footer__brand,
.footer__home,
.footer__pages,
.footer__blog,
.footer__portfolio {
    display: inline-block;
    vertical-align: top;
}
.footer__brand {
    width: calc((100% - 352px) * 0.3);
}
.footer-content > *:not(:first-child) {
    width: calc(((100% - 352px) * 0.7) / 4);
}

.footer-content > *:not(:last-child) {
    margin-right: 88px;
}
.footer-text {
    color: var(--text-3, #8a94a6);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 28px;
}
dt {
    color: var(--text-1, #323b4b);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 28px;
}

dd {
    color: var(--text-3, #8a94a6);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 19px;
}

.footer__brand img {
    margin-bottom: 28px;
}

.last-text {
    color: var(--text-3, #8a94a6);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-top: 62px;
}
